# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# C extensions
*.so
*.o

# Files specific to EQRM
imp_test_performance.asc
eqrm_code/EQRM.log
demo/EQRM.log

# nci specific
*.e*
*.o*

# ignore emacs backup files
*~
*.DS_Store
